body {
  margin: 0;
  overflow: hidden;
  font-family: monospace;
}

.screen {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

#screen1 {
  display: flex;
  background: #ffe6eb;
}

#screen2 {
  background: #ffe6eb;
  display: none;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  position: relative;
}

button {
  padding: 10px 18px;
  margin: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#catScreen {
  background: #000;
  display: none;
}

#catScreen img {
  width: 200px;
}

#treeScreen {
  background: black;
  display: none;
}

#text {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 40%;
  color: hotpink;
  font-size: 16px;
  white-space: pre-line;
}

canvas {
  position: absolute;
  right: 0;
  top: 0;
}
